@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font-family: "Roboto", sans-serif;

  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: #FFFFFF;
}

header{
  display: flex;
}

header i{
  color: #241C4C;
  position: absolute;
  font-size: 32px;
  right: 32px;
  top: 32px;
  cursor: pointer;
}

header i:hover{
  color: #CCD326;
}

#app {
  text-align: center;
  width: 100%;
}

#bar-chart{
  width: 700px;
  height: 400px;
}

